Pillow==10.2.0
Django==4.2.11
gunicorn==20.1.0
psycopg2-binary==2.9.9  # Optional: if using PostgreSQL

# Authentication
django-allauth==0.60.1  # For Google login and social authentication

# Payment Integration
razorpay==1.4.1  # Alternative payment gateway option

# Additional Useful Packages
django-crispy-forms==2.1
django-filter==23.5
python-dotenv==1.0.0


# Performance and Utilities
whitenoise==6.6.0  # Static file handling for deployment
dj-database-url==2.1.0  # Database configuration
